%ul.commodity_index
  - @commodities.sort {|a, b| a.display_index <=> b.display_index }.each do |commodity|
    - if commodity.display_flag
      %li
        - if commodity.file
          = attachment_image_tag commodity, :file, :fill, 200, 150, format: 'jpeg'
        - else
          = image_tag '', size: '200x150'
        = link_to commodity.name, commodity
        - if is_admin?
          = link_to '編集', edit_commodity_path(commodity)
          = link_to '削除', commodity, method: :delete, data: { confirm: 'Are you sure?' }

%br

- if is_admin?
  = link_to '商品追加', new_commodity_path
