%p
  %b 商品名:
  = @commodity.name
%p
  %b 商品画像:
  = attachment_image_tag @commodity, :file, :fill, 200, 150, format: 'jpeg'
%p
  %b 価格:
  = "#{@commodity.price}円"
%p
  %b 商品説明:
  = @commodity.caption

- if is_admin?
  %p
    %b 表示フラグ:
    = @commodity.display_flag
  %p
    %b 表示順:
    = @commodity.display_index

  = link_to '編集', edit_commodity_path(@commodity)
  \|
= link_to 'カートに追加する', user_commodity_shopping_cart_items_path(current_user, @commodity), method: :post
\|
= link_to '戻る', commodities_path
