%h1
  = current_user.name + " 様のショッピングカート"

= form_for [current_user, @shopping_cart] do |f|
  - if @shopping_cart.errors.any?
    #error_explanation
      %h2= "#{pluralize(@shopping_cart.errors.count, "error")} prohibited this shopping_cart from being saved:"
      %ul
        - @shopping_cart.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label "決済方法"
    = f.select :payment_method_type, ShoppingCart.payment_method_types.keys
  .field
    = f.label "配送日"
    = f.date_select :delivery_date
  .field
    = f.label "配送時間帯"
    = f.select :delivery_period_type, ShoppingCart.delivery_period_types.keys
  .actions
    = f.submit 'カート情報の保存'
