!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title SakurasakuMarket
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      %nav
        %span.title さくらさくマーケット
        = link_to '日記を見る', root_path
        = link_to 'お買い物', root_path
        = link_to 'ショッピングカート', root_path
        %span.login
          - if user_signed_in? 
            = link_to 'ログアウト', destroy_user_session_path, method: :delete
          - else
            = link_to 'ユーザ登録', new_user_registration_path
            |
            = link_to 'ログイン', new_user_session_path
          - if current_user && current_user.administrator?
            |
            = link_to 'ユーザ管理', "admin/user"
    %div{id: "main"}
      %p{class: "notice"}
        = notice
      %p{class: "alert"}
        = alert
      = yield
