!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title SakurasakuMarket
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      %nav
        %span.title さくらさくマーケット
        = link_to '日記を見る', root_path
        = link_to 'お買い物', root_path
        - if current_user && current_user.shopping_cart && current_user.shopping_cart.id
          = link_to 'ショッピングカート', edit_user_shopping_cart_path(current_user, current_user.shopping_cart)
        - elsif current_user
          = link_to 'ショッピングカート', new_user_shopping_cart_path(current_user)
        - else
          = link_to 'ショッピングカート', root_path
        - if current_user
          = link_to '購入履歴', user_shopping_histories_path(current_user)
        %span.login
          - if user_signed_in? 
            = link_to 'ログアウト', destroy_user_session_path, method: :delete
            - if current_user.administrator?
              |
              = link_to 'ユーザ管理', "admin/user"
          - else
            = link_to 'ユーザ登録', new_user_registration_path
            |
            = link_to 'ログイン', new_user_session_path
    %div{id: "main"}
      %p{class: "notice"}
        = notice
      %p{class: "alert"}
        = alert
      = yield
